<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pay">
	<select id="couponCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*),0) 
		FROM coupon
		<![CDATA[
			WHERE usersCode = #{usersCode} 
				AND state = 0 
				AND endDate >= #{curDate}
		]]>
	</select>
</mapper> 